<div class="panel">

  <form name="form">
    <div class="screen">
      <table class="sctable" >
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      </table><hr>
      <input class="textview" name="textview" placeholder="0" style="overflow: scroll" disabled>
      <input class="equelp"  value="=" style="overflow: scroll" disabled>
      <input class="res" name="result" placeholder="" style="overflow: scroll" disabled>
    </div>
    <div >
      <table class="inputidiv">
        <tr>
          <td><input type="button" value="7" (click)="getvalue(7)"> </td>
          <td><input type="button" value="8" (click)="getvalue(8)"></td>
          <td><input type="button" value="9" (click)="getvalue(9)"></td>
          <td><input type="button" value="/" (click)="getopcode('/')"></td>
          <td><input type="button" value="&larr;" (click)="back()"></td>
          <td><input type="button" value="C" (click)="clean()"></td>
        </tr>
        <tr>
          <td><input type="button" value="4" (click)="getvalue(4)"></td>
          <td><input type="button" value="5" (click)="getvalue(5)"></td>
          <td><input type="button" value="6" (click)="getvalue(6)"></td>
          <td><input type="button" value="*" (click)="getopcode('*')"></td>
          <td><input type="button" value="(" (click)="getopcode('(')"></td>
          <td><input type="button" value=")" (click)="getopcode(')')"></td>
        </tr>
        <tr>
          <td><input type="button" value="1" (click)="getvalue(1)"></td>
          <td><input type="button" value="2" (click)="getvalue(2)"></td>
          <td><input type="button" value="3" (click)="getvalue(3)"></td>
          <td><input type="button" value="-" (click)="getopcode('-')"></td>
          <td><input type="button" value="x^2" (click)="getopcode('s')"></td>
          <td><input type="button" value="&radic;" (click)="getopcode('ss')"></td>
        </tr>
        <tr>
          <td><input type="button" value="0" (click)="zero()"></td>
          <td><input type="button" value="." (click)="getopcode('.')"></td>
          <td><input type="button" value="%" (click)="getopcode('%')"></td>
          <td><input type="button" value="+" (click)="getopcode('+')"></td>
          <td colspan="2"><input type="button" class="eq" value="=" (click)="equal()"></td>
        </tr>
      </table>
    </div>
  </form>
</div>
